opustools
jieba>=0.42
beautifulsoup4>=4.8.2
graphviz>=0.16
langid==1.1.6
matplotlib>=3.3.0
fast-mosestokenizer==0.0.8.1
pandas>=1.0.0
pycld2==0.31
pyhash==0.9.3
regex>=2019.11.1
requests>=2.22.0
ruamel.yaml>=0.15.0
scikit-learn>=0.24.0
sentence-splitter==1.4
tqdm>=4.38.0
fasttext==0.9.2
