opustools
beautifulsoup4>=4.8.2
graphviz>=0.16
langid==1.1.6
matplotlib>=3.3.0
fast-mosestokenizer==0.0.8.1
pandas>=0.24.0
pycld2==0.31
pyhash==0.9.3
PyYAML>=5.3.1
regex>=2019.11.1
scikit-learn>=0.24.0
tqdm>=4.38.0
